// Style.less для блока about-me-form
//-----------------------------------

.about-me-form {
  display: block;
  width: 280px;
  padding: 0;
  margin: 0;
  margin-bottom: 3px;
  border: none;

  &::before {
    content: " ";
    position: absolute;
    width: calc((100vw - 280px) / 2 + 104px);
    top: 841px;
    right: 0;
    margin-right: 35px;
    height: 3px;
    background-color: @bg-green;
  }
}

.about-me-form__legend {
  display: block;
  width: 280px;
  padding: 11px 145px 34px 0;
  font-size: 24px;
  line-height: 24px;
  text-transform: none;
}

.about-me-form__input {
  &--textarea {
    display: block;
    width: 263px;
    height: 135px;
    padding: 13px 0 0 14px;
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
    border: 1px solid @border-lightgray;
  }
}

@media (min-width: @tablet-width) {
  .about-me-form {
    display: flex;
    flex-wrap: wrap;
    width: 708px;
    padding: 0;
    margin: 0;
    border: none;

    &::before {
      content: " ";
      position: absolute;
      width: calc((100vw - 280px) / 2 + 235px);
      top: 1241px;
      right: 0;
      margin-right: 0;
      height: 3px;
      background-color: @bg-green;
    }

    &::after {
      content: " ";
      position: absolute;
      width: calc((100vw - 280px) / 2 - 213px);
      top: 1241px;
      left: 0;
      margin-left: 0;
      height: 3px;
      background-color: @bg-green;
    }
  }

  .about-me-form__legend {
    display: block;
    width: 560px;
    padding: 0 0 82px 38px;
    font-size: 36px;
    line-height: 24px;
    text-transform: none;
  }

  .about-me-form__input {
    &--textarea {
      display: block;
      width: 610px;
      height: 158px;
      padding: 15px 0 0 17px;
      margin-left: 40px;
      margin-bottom: 70px;
      font-size: 20px;
      text-transform: uppercase;
      border: 1px solid @border-lightgray;
    }
  }
}

@media (min-width: @desktop-width) {
  .about-me-form {
    display: flex;
    flex-wrap: wrap;
    width: 1220px;
    padding: 0;
    padding-bottom: 72px;
    margin: 0;
    border: none;

    &::before {
      content: " ";
      position: absolute;
      width: calc((100vw - 280px) / 2 + 505px);
      top: 946px;
      right: 0;
      margin-right: 27px;
      height: 3px;
      background-color: @bg-green;
    }

    &::after {
      content: " ";
      position: absolute;
      width: calc((100vw - 280px) / 2 - 536px);
      top: 946px;
      left: 0;
      margin-left: 26px;
      height: 3px;
      background-color: @bg-green;
    }
  }

  .about-me-form__legend {
    display: block;
    width: 560px;
    padding: 0 0 83px 0;
    margin: 0;
    font-size: 36px;
    line-height: 24px;
    text-transform: none;
  }

  .about-me-form__input {
    &--textarea {
      display: block;
      width: 1200px;
      height: 158px;
      padding: 14px 0 0 17px;
      margin: 0;
      font-size: 20px;
      text-transform: uppercase;
      border: 1px solid @border-lightgray;
    }
  }
}
