// Style.less для блока advantages
//--------------------------------

.advantages__wrapper {
  width: 280px;
  min-height: 450px;
  margin: 0 auto;
}

.advantages__title {
  padding: 4px 10px;
  margin-top: -38px;
  margin-bottom: 0;
  margin-left: -8px;

  font-family: @baseFont;
  font-size: 36px;
  font-weight: @baseFontWeight;
  line-height: 60px;
  text-transform: none;
}

.advantages__list {
  display: block;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.advantages__item {
  display: block;
  width: 200px;
  padding: 3px;
  margin: 10px -5px -18px auto;
  font-family: Arial, sans-serif;
}

