// Style.less для блока advantages
//--------------------------------
.advantages {
  display: block;
  width: 100%;
}

.advantages__wrapper {
  width: 320px;
  margin: 0;
  background-color: @bg-white;
}

.advantages__title {
  padding: 18px 20px 29px 21px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: @basefont;
  font-size: 36px;
  font-weight: @basefontweight;
  line-height: 60px;
  text-transform: none;
}

.advantages__list {
  display: block;
  margin: 0;
  padding: 0 20px;
  list-style: none;
}

.advantages__item {
  display: block;
  padding-bottom: 26px;
}

.advantages__item:last-child {
  padding-bottom: 46px;
}

.advantages__description {
  display: block;
  width: 195px;
  padding-left: 81px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: @secondfont;
  font-size: @basefontsize;
  line-height: 18px;
}

.advantages__description::before {
  display: block;
  position: absolute;
  content: " ";
  width: 60px;
  height: 60px;
  margin-top: -2px;
  margin-left: -80px;
  background-color: @bg-green;
}

.description-leaf::after,
.description-powder::after,
.description-dining::after,
.description-clock::after {
  display: block;
  position: absolute;
  content: " ";
  width: 60px;
  height: 60px;
  margin-top: -51px;
  margin-left: -76px;
  background-repeat: no-repeat;
}

.description-leaf::after {
  background-image: url("../img/advantage-leaf@1x.png");
}

.description-powder::after {
  background-image: url("../img/advantage-powder@1x.png");
}

.description-dining::after {
  background-image: url("../img/advantage-dining@1x.png");
}

.description-clock::after {
  background-image: url("../img/advantage-clock@1x.png");
}

@media (min-width: @tablet-width) {
  .advantages {
    display: block;
    width: 100%;
  }

  .advantages__wrapper {
    width: 708px;
    padding: 0 30px;
  }

  .advantages__title {
    display: block;
    width: 402px;
    padding: 47px 10px 13px 0;
    margin-top: 0;
    margin-bottom: 0;
    font-family: @basefont;
    font-size: 60px;
    font-weight: @basefontweight;
    line-height: 60px;
    text-transform: none;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .advantages__item {
    display: block;
    width: 330px;
    height: 330px;
    padding: 0;
    margin: 0;
  }

  .advantages__item:last-child {
    padding-bottom: 0;
  }

  .advantages__item:nth-child(1)::before {
    display: block;
    position: absolute;
    content: "1";
    font-size: 281px;
    padding-top: 150px;
    padding-left: 117px;
    color: @color-gray;
  }

  .advantages__item:nth-child(2)::before {
    display: block;
    position: absolute;
    content: "2";
    font-size: 281px;
    padding-top: 150px;
    padding-left: 117px;
    color: @color-gray;
  }

  .advantages__item:nth-child(3)::before {
    display: block;
    position: absolute;
    content: "3";
    font-size: 281px;
    padding-top: 136px;
    padding-left: 113px;
    color: @color-gray;
  }

  .advantages__item:nth-child(4)::before {
    display: block;
    position: absolute;
    content: "4";
    font-size: 281px;
    padding-top: 138px;
    padding-left: 120px;
    color: @color-gray;
  }

  .advantages__description {
    display: block;
    width: 250px;
    font-family: @secondfont;
    font-size: 16px;
    line-height: 24px;
  }

  .description-leaf {
    padding: 171px 5px 5px 0;
  }

  .description-powder {
    padding: 171px 5px 5px 4px;
  }

  .description-dining {
    padding: 158px 5px 5px 0;
  }

  .description-clock {
    padding: 158px 5px 5px 4px;
  }

  .advantages__description::before {
    display: block;
    position: absolute;
    content: " ";
    width: 80px;
    height: 80px;
    margin-top: -112px;
    margin-left: 0;
    background-color: @bg-green;
  }

  .description-leaf::after,
  .description-powder::after,
  .description-dining::after,
  .description-clock::after {
    display: block;
    position: absolute;
    content: " ";
    width: 55px;
    height: 55px;
    margin-top: -170px;
    margin-left: 16px;
    background-repeat: no-repeat;
  }

  .description-leaf::after {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  .description-powder::after {
    background-image: url("../img/advantage-powder@1x.png");
  }

  .description-dining::after {
    background-image: url("../img/advantage-dining@1x.png");
  }

  .description-clock::after {
    background-image: url("../img/advantage-clock@1x.png");
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    display: block;
    width: 100%;
    background-color: @bg-white;
  }

  .advantages__wrapper {
    display: block;
    width: 1220px;
    padding: 0 40px;
    margin: 0 auto;
  }

  .advantages__title {
    display: block;
    width: 402px;
    padding: 0 115px 185px 0;
    font-family: @basefont;
    font-size: 60px;
    font-weight: @basefontweight;
    line-height: 60px;
    text-transform: none;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .advantages__item {
    display: block;
    width: 300px;
    height: 197px;
  }

  .advantages__item:nth-child(1)::before {
    display: block;
    position: absolute;
    content: "1";
    font-size: 281px;
    margin-top: -171px;
    padding-left: 117px;
    color: @color-gray;
  }

  .advantages__item:nth-child(2)::before {
    display: block;
    position: absolute;
    content: "2";
    font-size: 281px;
    margin-top: -171px;
    padding-left: 129px;
    color: @color-gray;
  }

  .advantages__item:nth-child(3)::before {
    display: block;
    position: absolute;
    content: "3";
    font-size: 281px;
    margin-top: -157px;
    padding-left: 150px;
    color: @color-gray;
  }

  .advantages__item:nth-child(4)::before {
    display: block;
    position: absolute;
    content: "4";
    font-size: 281px;
    margin-top: -157px;
    padding-left: 168px;
    color: @color-gray;
  }

  .advantages__description {
    display: block;
    width: 250px;
    font-family: @secondfont;
    font-size: 16px;
    line-height: 24px;
  }

  .description-leaf {
    padding: 0 50px 5px 1px;
  }

  .description-powder {
    padding: 0 32px 5px 18px;
  }

  .description-dining {
    padding: 0 14px 5px 37px;
  }

  .description-clock {
    padding: 0 5px 5px 55px;
  }

  .description-leaf::before,
  .description-powder::before,
  .description-dining::before,
  .description-clock::before {
    display: block;
    position: absolute;
    content: " ";
    width: 80px;
    height: 80px;
    margin-top: -112px;
    margin-left: 0;
    background-color: @bg-green;
  }

  .description-leaf::after,
  .description-powder::after,
  .description-dining::after,
  .description-clock::after {
    display: block;
    position: absolute;
    content: " ";
    width: 55px;
    height: 55px;
    margin-top: -170px;
    margin-left: 16px;
    background-repeat: no-repeat;
  }

  .description-leaf::after {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  .description-powder::after {
    background-image: url("../img/advantage-powder@1x.png");
  }

  .description-dining::after {
    background-image: url("../img/advantage-dining@1x.png");
  }

  .description-clock::after {
    background-image: url("../img/advantage-clock@1x.png");
  }
}
