// Style.less для блока before-after
//--------------------------------

.before-after__wrapper {
  display: block;
  width: 320px;
  min-height: 705px;
  margin-top: -46px;

  background-color: @lighterGray;
}

.before-after__title {
  display: block;
  padding: 16px 10px;
  margin: 31px 12px;

  font-family: @baseFont;
  font-size: 36px;
  font-weight: @baseFontWeight;
  line-height: 60px;
  text-transform: none;
}

.before-after__description {
  display: block;
  padding: 5px 5px;
  margin: -29px 17px;

  font-family: 'Arial', sans-serif;
  text-transform: none;
}

.before-after__table {
  margin: 0 auto;
}

.before-after__number {
  width: 77px;
  padding: 60px 5px 5px 5px;
  font-size: 24px;
  line-height: 26px;
  text-transform: uppercase;
}
// Внести корректировки в таблицу

.before-after__result {
  width: 89px;
  padding: 0 10px 2px 0;

  font-family: 'Arial', sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  text-align: center;
}
// Внести корректировки в таблицу

.before-after__title-cost {
  display: block;
  padding: 2px 2px 2px 6px;
  font-size: @baseFontSize;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.before-after__image-before {
  display: block;
  margin-top: 32px;
  margin-left: 2px;
}

.before-after__scale {
  display: flex;
}

.before-after__before {
  display: block;
  padding: 10px 10px;
  margin: 22px auto 26px 56px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.before-after__after {
  display: block;
  padding: 10px 10px;
  margin: 22px 47px 26px auto;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
