// Style.less для блока before-after
//--------------------------------
.before-after {
  display: block;
  width: 100%;
}

.before-after__wrapper {
  display: block;
  width: 320px;
  margin: 0;
  background-color: @bg-lightergray;
}

.before-after__title {
  display: block;
  padding: 18px 20px 23px 21px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: @basefont;
  font-size: 36px;
  font-weight: @basefontweight;
  line-height: 60px;
  text-transform: none;
}

.before-after__description {
  display: block;
  width: 270px;
  padding: 0 30px 25px 20px;
  margin: 0;
  font-family: @secondfont;
  text-transform: none;
}

.before-after__cost {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 280px;
  margin: 0;
  padding: 0 20px;
}

.before-after__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  width: 280px;
  padding: 0;
  margin: 0;
}

.before-after__list-item {
  display: flex;
  flex-wrap: wrap;
  width: 120px;
  height: 80px;
}

.before-after__number-weight {
  display: block;
  width: 88px;
  height: 30px;
  padding: 13px 34px 0 43px;
  font-family: @basefont;
  font-size: 24px;
  line-height: 26px;
  text-transform: uppercase;
}

.before-after__result-weight {
  width: 80px;
  height: 30px;
  padding: 0 19px 0 22px;
  font-family: @secondfont;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
}

.before-after__number-day {
  display: block;
  width: 85px;
  height: 30px;
  padding: 13px 17px 0 18px;
  font-family: @basefont;
  font-size: 24px;
  line-height: 26px;
  text-transform: uppercase;
}

.before-after__result-day {
  display: block;
  width: 80px;
  height: 30px;
  padding: 0 19px 0 19px;
  font-family: @secondfont;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  text-align: center;
}

.before-after__title-cost {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px 3px 34px 5px;
  font-size: @basefontsize;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.slider__list {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.before-after__image-before {
  display: block;
}

.before-after__image-after {
  display: block;
}

.before-after__toggles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  font-family: @basefont;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.slider__toggle-before,
.slider__toggle-after {
  display: block;
  padding: 0;
  margin-top: 32px;
  margin-bottom: 33px;
  font-family: @basefont;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.slider__toggle-before {
  margin-left: 63px;
}

.slider__toggle-after {
  margin-right: 58px;
}

@media (min-width: @tablet-width) {
  .before-after {
    display: block;
    width: 100%;
  }

  .before-after__wrapper {
    display: block;
    width: 708px;
    margin: 0;
    padding: 0 30px;
    background-color: @bg-lightergray;
  }

  .before-after__title {
    display: block;
    width: 335px;
    padding: 46px 64px 64px 0;
    margin: 0;
    font-family: @basefont;
    font-size: 60px;
    font-weight: @basefontweight;
    line-height: 60px;
    text-transform: none;
  }

  .before-after__description {
    display: block;
    width: 680px;
    padding: 0 30px 53px 0;
    margin: 0;
    line-height: 24px;
    font-size: 16px;
    font-family: @secondfont;
    text-transform: none;
  }

  .before-after__cost {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 708px;
    margin: 0;
    padding: 0;
    padding-bottom: 78px;
  }

  .before-after__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 365px;
    margin: 0;
    padding: 0;
  }

  .before-after__list-item {
    display: flex;
    flex-wrap: wrap;
    width: 160px;
    height: 80px;
  }

  .before-after__number-weight {
    display: block;
    width: 113px;
    height: 30px;
    padding: 20px 46px 0 57px;
    font-family: @basefont;
    font-size: 30px;
    line-height: 26px;
    text-transform: uppercase;
  }

  .before-after__result-weight {
    width: 100px;
    height: 15px;
    padding: 13px 19px 8px 31px;
    font-family: @secondfont;
    font-size: @basefontsize;
    line-height: 12px;
    text-align: center;
  }

  .before-after__number-day {
    display: block;
    width: 125px;
    height: 30px;
    padding: 20px 17px 0 29px;
    font-family: @basefont;
    font-size: 30px;
    line-height: 26px;
    text-transform: uppercase;
  }

  .before-after__result-day {
    display: block;
    width: 145px;
    height: 15px;
    padding: 11px 9px 0 9px;
    font-family: @secondfont;
    font-size: @basefontsize;
    line-height: 12px;
    text-transform: lowercase;
    text-align: center;
  }

  .before-after__title-cost {
    display: block;
    width: 175px;
    text-align: right;
    padding: 6px 0 2px 5px;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
  }

  .slider__list {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .before-after__image-before {
    display: block;
    width: 690px;
    height: 517px;
    padding-left: 15px;
    padding-right: 2px;
  }

  .before-after__image-after {
    display: block;
  }

  .before-after__toggles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    padding-bottom: 54px;
    margin: 0;
  }

  .slider__toggle-before,
  .slider__toggle-after {
    display: block;
    margin-top: 17px;
    margin-bottom: 21px;
    font-family: @basefont;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
  }

  .slider__toggle-before {
    margin-left: 68px;
  }

  .slider__toggle-after {
    margin-right: 69px;
  }

  .slider__toggle-before::before,
  .slider__toggle-after::before {
    position: relative;
    top: 26px;
    display: block;
    content: " ";
    width: 48px;
    margin: 0;
    border-bottom: 1px dashed @border-darkgray;

    &:hover {
      position: relative;
      top: 26px;
      display: block;
      content: " ";
      width: 48px;
      margin: 0;
      border-bottom: 1px solid @border-darkgray;
    }

    &:active {
      position: relative;
      top: 26px;
      display: block;
      content: " ";
      width: 48px;
      margin: 0;
      border: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .before-after {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: @bg-lightergray;
  }

  .before-after__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 1220px;
    margin: 0 auto;
    padding: 0 40px;
  }

  .before-after__title {
    display: block;
    width: 700px;
    padding: 0 335px 146px 1px;
    font-family: @basefont;
    font-size: 60px;
    font-weight: @basefontweight;
    line-height: 60px;
    text-transform: none;
  }

  .before-after__wrapper-left,
  .before-after__wrapper-right {
    display: block;
    height: 392px;
    margin: 0;
    padding: 0;
  }

  .before-after__wrapper-right {
    position: relative;
    top: -263px;
    left: 121px;
    display: block;
  }

  .before-after__description {
    display: block;
    width: 435px;
    padding: 0;
    padding-left: 1px;
    padding-bottom: 68px;
    margin: 0;
    line-height: 24px;
    font-size: 16px;
    font-family: @secondfont;
    text-transform: none;
  }

  .before-after__cost {
    display: block;
    width: 370px;
    margin: 0;
    padding: 0;
  }

  .before-after__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 365px;
    margin: 0;
    padding: 0;
    padding-bottom: 40px;
  }

  .before-after__list-item {
    display: flex;
    flex-wrap: wrap;
    width: 160px;
    height: 80px;
  }

  .before-after__number-weight {
    display: block;
    width: 113px;
    height: 30px;
    padding: 21px 46px 0 58px;
    font-family: @basefont;
    font-size: 30px;
    line-height: 26px;
    text-transform: uppercase;
  }

  .before-after__result-weight {
    width: 100px;
    height: 15px;
    padding: 13px 19px 8px 31px;
    font-family: @secondfont;
    font-size: @basefontsize;
    line-height: 12px;
    text-align: center;
  }

  .before-after__number-day {
    display: block;
    width: 125px;
    height: 30px;
    padding: 21px 17px 0 30px;
    font-family: @basefont;
    font-size: 30px;
    line-height: 26px;
    text-transform: uppercase;
  }

  .before-after__result-day {
    display: block;
    width: 145px;
    height: 15px;
    padding: 11px 9px 0 9px;
    font-family: @secondfont;
    font-size: @basefontsize;
    line-height: 12px;
    text-transform: lowercase;
    text-align: center;
  }

  .before-after__title-cost {
    display: block;
    width: 275px;
    padding: 6px 0 2px 0;
    margin: 0;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
  }

  .slider__list {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .before-after__image-before {
    display: block;
    width: 690px;
    height: 517px;
    padding-left: 15px;
    padding-right: 2px;
  }

  .before-after__image-after {
    display: block;
  }

  .before-after__toggles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  .slider__toggle-before,
  .slider__toggle-after {
    display: block;
    margin-top: 42px;
    margin-bottom: 21px;
    font-family: @basefont;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
  }

  .slider__toggle-before {
    margin-left: 93px;
  }

  .slider__toggle-after {
    margin-right: 43px;
  }

  .slider__toggle-before::before,
  .slider__toggle-after::before {
    position: relative;
    top: 26px;
    display: block;
    content: " ";
    width: 48px;
    margin: 0;
    border-bottom: 1px dashed @border-darkgray;

    &:hover {
      position: relative;
      top: 26px;
      display: block;
      content: " ";
      width: 48px;
      margin: 0;
      border-bottom: 1px solid @border-darkgray;
    }

    &:active {
      position: relative;
      top: 26px;
      display: block;
      content: " ";
      width: 48px;
      margin: 0;
      border: none;
    }
  }
}
