// Style.less для блока contacts
//--------------------------------
.contacts {
  display: block;
  width: 100%;
}

.contacts__wrapper {
  width: 320px;
  background-color: @bg-white;
}

.contacts__address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0 20px;
  background-color: @bg-white;
}

.contacts__title {
  display: block;
  width: 125px;
  padding: 28px 5px 25px 0;
  margin-bottom: 0;
  margin-top: 0;
  font-family: @basefont;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__text {
  display: block;
  width: 135px;
  padding: 29px 4px 25px 5px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: @secondfont;
  line-height: 20px;
  text-transform: none;
  color: @col-lightblack;
}

.contacts__map {
  display: block;
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .contacts {
    display: block;
    width: 100%;
  }

  .contacts__wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: @bg-white;
  }

  .contacts__address {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 708px;
    padding: 0 30px;
  }

  .contacts__title {
    display: block;
    width: 185px;
    padding: 63px 10px 60px 41px;
    font-family: @basefont;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
  }

  .contacts__text {
    display: block;
    width: 163px;
    position: absolute;
    right: 2px;
    padding: 63px 0 5px 0;
    font-size: 16px;
    font-family: @secondfont;
    line-height: 20px;
    text-transform: none;
    color: @col-lightblack;
  }

  .contacts__street {
    display: block;
    position: absolute;
    right: 64px;
    width: 160px;
  }

  .contacts__city {
    width: 168px;
    position: absolute;
    right: 27px;
    padding: 60px 0 58px 0;
  }

  .contacts__map {
    display: block;
    width: 100%;
    height: 396px;
    background-color: #00a8e6;
  }

  .contacts__map-img {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .contacts__wrapper {
    width: 100%;
  }

  .contacts__address {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 510px;
    height: 202px;
    margin-left: 127px;
    background-color: @bg-white;
  }

  .contacts__title {
    display: block;
    width: 155px;
    padding: 62px 20px 55px 47px;
    font-family: @basefont;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
  }

  .contacts__text {
    display: block;
    width: 165px;
    padding: 62px 76px 0 0;
    font-family: @secondfont;
    line-height: 20px;
    text-transform: none;
    color: @col-lightblack;
  }

  .contacts__street {
    position: absolute;
    display: block;
    width: 155px;
    left: 0;
  }

  .contacts__city {
    display: block;
    position: absolute;
    left: 0;
    padding: 41px 0 0 0;
  }

  .contacts__map {
    display: block;
    height: 105px;
    background-color: #00a8e6;
  }

  .contacts__map-img {
    display: none;
  }
}
