// Style.less для блока contacts
//--------------------------------
.contacts {
  display: block;
  width: 100%;
}

.contacts__wrapper {
  width: 320px;
}

.contacts__address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0 20px;
  background-color: @bg-white;
}

.contacts__catalog,
.contacts__form {
  background-color: @bg-lightergray;
}

.contacts__title {
  display: block;
  width: 125px;
  padding: 31px 5px 25px 0;
  margin-bottom: 0;
  margin-top: 0;
  font-family: @basefont;
  font-weight: @basefontweight;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__text {
  display: block;
  width: 135px;
  padding: 31px 4px 25px 5px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: @secondfont;
  line-height: 20px;
  text-transform: none;
  color: @color-lightblack;
}

.contacts__map {
  display: block;
  width: 320px;
  height: 363px;
  margin: 0;
  padding: 0;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .contacts {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .contacts__wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .contacts__address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 708px;
    padding: 0 30px;
    background-color: @bg-white;
  }

  .contacts__catalog,
  .contacts__form {
    background-color: @bg-lightergray;
  }

  .contacts__title {
    display: block;
    width: 185px;
    padding: 63px 10px 60px 41px;
    font-family: @basefont;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
  }

  .contacts__text {
    display: block;
    width: 163px;
    position: relative;
    right: -28px;
    padding: 63px 0 5px 0;
    font-size: 16px;
    font-family: @secondfont;
    line-height: 20px;
    text-transform: none;
    color: @color-lightblack;
  }

  .contacts__street {
    display: block;
    position: absolute;
    right: 64px;
    width: 160px;
  }

  .contacts__city {
    width: 168px;
    position: absolute;
    right: 27px;
    padding: 60px 0 58px 0;
  }

  .contacts__map {
    display: block;
    width: 768px;
    height: 396px;
    padding: 0;
    margin: 0;
    background-image: url("../img/bg-map-tablet@1x.png");
    background-repeat: no-repeat;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    width: 100%;
  }

  .contacts__wrapper {
    width: 1220px;
    padding: 0;
    margin: 0 auto;
  }

  .contacts__address {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 510px;
    height: 202px;
    margin-top: 96px;
    margin-left: 1px;
    background-color: @bg-white;
  }

  .contacts__catalog,
  .contacts__form {
    background-color: @bg-white;
  }

  .contacts__title {
    display: block;
    width: 155px;
    padding: 61px 20px 55px 46px;
    font-family: @basefont;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
  }

  .contacts__text {
    display: block;
    width: 165px;
    padding: 61px 77px 0 0;
    font-family: @secondfont;
    line-height: 20px;
    text-transform: none;
    color: @color-lightblack;
  }

  .contacts__street {
    position: absolute;
    display: block;
    width: 155px;
    left: 0;
  }

  .contacts__city {
    display: block;
    position: absolute;
    left: 0;
    padding: 41px 0 0 0;
  }

  .contacts__map {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    background-image: url("../img/bg-map-desktop@1x.png");
    background-repeat: no-repeat;
  }
}
