// Style.less для блока main-form
//-------------------------------
.main-form {
  display: block;
  width: 320px;
}

.form__wrapper {
  display: block;
  width: 280px;
  padding: 0 20px;
  border-bottom: 1px solid @border-lightgray;
}

.form {
  width: 320px;
  padding: 0;
  margin: 0;
  background-color: @bg-white;
}

.form__title {
  display: block;
  width: 270px;
  margin: 0;
  padding: 15px 28px 25px 21px;
  font-size: 36px;
  line-height: 60px;
  text-transform: none;
  border-top: 1px solid @border-lightgray;
}

.form__text {
  display: block;
  width: 235px;
  padding: 0 63px 39px 22px;
  margin: 0;
  text-transform: uppercase;
}

.form__form {
  display: block;
}

.form__fieldset {
  &--data,
  &--diet,
  &--contacts,
  &--about-me,
  &--extra {
    display: block;
    width: 280px;
    padding: 0;
    margin: 0;
    border: none;
  }
}

.form__legend {
  &--contacts,
  &--about-me,
  &--extra {
    display: block;
    width: 320px;
    font-size: 24px;
    line-height: 24px;
    text-transform: none;
  }

  &--contacts {
    padding: 28px 99px 33px 21px;
  }

  &--about-me {
    width: 281px;
    padding: 13px 145px 35px 0;
  }

  &--extra {
    padding: 28px 145px 36px 20px;
  }
}

.form__item {
  &--name,
  &--weight,
  &--years {
    display: flex;
    width: 280px;
    padding-bottom: 15px;
  }

  &--years {
    padding-bottom: 25px;
  }

  &--slim,
  &--pro,
  &--advice {
    display: flex;
    width: 270px;
    padding-left: 16px;
  }

  &--slim {
    padding-top: 16px;
  }

  &--pro,
  &--advice {
    padding-top: 10px;
  }

  &--advice {
    padding-bottom: 21px;
  }

  &--sweetener,
  &--water,
  &--milk,
  &--vitamins {
    display: flex;
    width: 280px;
  }

  &--email-user,
  &--phone-user {
    display: flex;
    width: 265px;
    padding: 0 0 14px 0;
  }
}

.form__label {
  &--name,
  &--weight,
  &--years {
    display: block;
    padding: 14px 0 12px 0;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
  }

  &--name {
    width: 52px;
  }

  &--weight {
    width: 78px;
  }

  &--years {
    width: 110px;
  }

  &--slim,
  &--pro,
  &--advice {
    display: block;
    width: 195px;
    padding: 9px 0 0 10px;
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
  }

  &--email-user,
  &--phone-user {
    display: block;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
  }

  &--email-user {
    width: 61px;
    padding: 13px 0 10px 0;
  }

  &--phone-user {
    width: 78px;
    padding: 12px 0 12px 0;
  }

  &--sweetener,
  &--water,
  &--milk,
  &--vitamins {
    display: block;
    width: 270px;
    padding: 3px 0 22px 11px;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
  }
}

.form__input {
  &--text1,
  &--text2,
  &--text3 {
    display: block;
    padding-left: 15px;
    font-size: 16px;
    text-transform: uppercase;
    border: 1px solid @border-lightgray;
  }

  &--text1 {
    width: 212px;
  }

  &--text2 {
    width: 187px;
  }

  &--text3 {
    width: 156px;
  }

  &--radio1,
  &--radio2,
  &--radio3 {
    display: block;
    width: 40px;
    height: 29px;
    margin-top: 4px;
    margin-left: -19px;
  }

  &--text4,
  &--text5 {
    display: block;
    height: 43px;
    font-size: 16px;
    text-transform: uppercase;
    border: 1px solid @border-lightgray;
  }

  &--text4 {
    width: 200px;
    padding: 0 2px 0 15px;
  }

  &--text5 {
    width: 188px;
    padding: 0 0 0 14px;
  }

  &--textarea {
    display: block;
    width: 263px;
    height: 135px;
    padding: 13px 0 0 16px;
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
    border: 1px solid @border-lightgray;
  }

  &--checkbox1,
  &--checkbox2,
  &--checkbox3,
  &--checkbox4 {
    display: block;
    width: 42px;
    height: 29px;
  }
}

.form__icon {
  &--email-user,
  &--phone-user {
    display: block;
    height: 42px;
    margin-top: 2px;
    margin-left: -28px;
    background-color: @bg-white;
    border: none;
  }

  &--email-user::before {
    position: absolute;
    content: " ";
    width: 18px;
    margin-left: -11px;
    margin-top: -7px;
    height: 20px;

    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
  }

  &--phone-user::before {
    position: absolute;
    content: " ";
    width: 20px;
    margin-left: -10px;
    margin-top: -9px;
    height: 25px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
  }
}

.form__button {
  display: block;
  width: 280px;
  height: 42px;
  padding: 5px 24px;
  margin-top: 14px;
  margin-left: 22px;
  margin-bottom: 14px;
  font-size: 16px;
  text-transform: uppercase;
  color: @color-white;
  background-color: @bg-green;
}

.form__legend-small {
  display: block;
  width: 170px;
  height: 30px;
  padding: 6px 64px 16px 87px;
  font-family: @secondfont;
  font-size: 14px;
  text-transform: none;
}

@media (min-width: @tablet-width) {
  .main-form {
    display: block;
    width: 100%;
  }

  .form {
    width: 708px;
    padding: 0 30px;
    background-color: @bg-white;
  }

  .form__title {
    display: block;
    width: 440px;
    margin: 0;
    padding: 54px 100px 56px 0;
    font-size: 60px;
    line-height: 60px;
    text-transform: none;
  }

  .form__text {
    display: block;
    width: 324px;
    padding: 0 100px 68px 39px;
    margin: 0;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
  }

  .form__form {
    display: block;
    padding-bottom: 61px;
  }

  .form__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 708px;
    padding: 0;
    margin: 0;
    border-bottom: none;
  }

  &--extra {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 708px;
  }

  .form__fieldset {
    &--data,
    &--diet,
    &--contacts,
    &--about-me,
    &--extra {
      display: flex;
      padding: 0;
      margin: 0;
      border: none;
    }

    &--data {
      width: 708px;
      padding-bottom: 52px;
    }

    &--diet {
      width: 628px;
      margin-left: 42px;
      margin-bottom: 80px;
      border: 1px solid @border-lightgray;
    }

    &--contacts,
    &--about-me {
      width: 708px;
    }

    &--extra {
      display: block;
      width: 708px;
    }
  }

  .form__legend {
    &--contacts,
    &--about-me,
    &--extra {
      display: block;
      width: 560px;
      font-size: 36px;
      line-height: 24px;
      text-transform: none;
    }

    &--contacts {
      padding: 0 7px 82px 38px;
    }

    &--about-me {
      padding: 0 0 83px 38px;
    }

    &--extra {
      padding: 0 0 70px 38px;
    }
  }

  .form__item {
    &--name,
    &--weight,
    &--years {
      display: flex;
      width: 670px;
      height: 53px;
      padding-bottom: 19px;
    }

    &--slim,
    &--pro,
    &--advice {
      display: flex;
      width: 515px;
      height: 40px;
      padding-left: 13px;
      padding-bottom: 3px;
    }

    &--advice {
      padding-bottom: 33px;
    }

    &--sweetener,
    &--water,
    &--milk,
    &--vitamins {
      display: flex;
      width: 294px;
      height: 33px;
      padding-bottom: 39px;
    }

    &--sweetener,
    &--milk {
      padding-left: 38px;
    }

    &--water,
    &--vitamins {
      padding-right: 32px;
    }

    &--email-user,
    &--phone-user {
      display: flex;
      width: 660px;
      height: 50px;
    }

    &--email-user {
      padding-bottom: 22px;
    }

    &--phone-user {
      padding-bottom: 73px;
    }
  }

  .form__label {
    &--name,
    &--weight,
    &--years {
      display: block;
      height: 36px;
      padding: 16px 0 0 40px;
      font-size: 20px;
      line-height: 18px;
      text-transform: uppercase;
    }

    &--name {
      width: 62px;
    }

    &--weight {
      width: 94px;
    }

    &--years {
      width: 133px;
    }

    &--slim,
    &--pro,
    &--advice {
      display: block;
      width: 270px;
      height: 25px;
      padding: 18px 0 0 16px;
      margin: 0;
      font-size: 20px;
      text-transform: uppercase;
    }

    &--email-user,
    &--phone-user {
      display: block;
      padding: 14px 0 0 44px;
      font-size: 20px;
      line-height: 18px;
      text-transform: uppercase;
    }

    &--email-user {
      width: 80px;
      padding: 16px 0 0 40px;
    }

    &--phone-user {
      width: 100px;
      padding: 16px 0 0 37px;
    }

    &--sweetener,
    &--water,
    &--milk,
    &--vitamins {
      display: block;
      width: 270px;
      height: 24px;
      padding: 3px 0 0 16px;
      font-size: 20px;
      line-height: 18px;
      text-transform: uppercase;
    }
  }

  .form__input {
    &--text1,
    &--text2,
    &--text3 {
      display: block;
      padding-left: 19px;
      font-size: 20px;
      text-transform: uppercase;
      border: 1px solid @border-lightgray;
    }

    &--text1 {
      width: 545px;
    }

    &--text2 {
      width: 515px;
    }

    &--text3 {
      width: 475px;
    }

    &--radio1,
    &--radio2,
    &--radio3 {
      display: block;
      width: 48px;
      height: 38px;
      margin-top: 10px;
      margin-left: 8px;
    }

    &--text4,
    &--text5 {
      display: block;
      height: 50px;
      font-size: 20px;
      text-transform: uppercase;
      border: 1px solid @border-lightgray;
    }

    &--text4 {
      width: 530px;
      padding: 0 0 0 21px;
    }

    &--text5 {
      width: 515px;
      padding: 0 0 0 18px;
    }

    &--textarea {
      display: block;
      width: 610px;
      height: 158px;
      padding: 12px 0 0 17px;
      margin-left: 40px;
      margin-bottom: 72px;
      font-size: 20px;
      text-transform: uppercase;
      border: 1px solid @border-lightgray;
    }

    &--checkbox1,
    &--checkbox2,
    &--checkbox3,
    &--checkbox4 {
      display: block;
      width: 49px;
      height: 40px;
      margin: -6px 0 0 1px;
    }
  }

  .form__icon {
    &--email-user,
    &--phone-user {
      display: block;
      height: 42px;
      margin-top: 5px;
      margin-left: -36px;
      background-color: @bg-white;
      border: none;
    }

    &--email-user::before {
      position: absolute;
      content: " ";
      width: 18px;
      margin-left: -11px;
      margin-top: -7px;
      height: 20px;

      background-image: url("../img/icon-mail.svg");
      background-repeat: no-repeat;
    }

    &--phone-user::before {
      position: absolute;
      content: " ";
      width: 20px;
      margin-left: -10px;
      margin-top: -9px;
      height: 25px;
      background-image: url("../img/icon-phone.svg");
      background-repeat: no-repeat;
    }
  }

  .form__send {
    display: flex;
    width: 708px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__button {
    display: block;
    width: 283px;
    height: 50px;
    padding: 5px 24px;
    margin-top: 16px;
    margin-left: 38px;
    margin-bottom: 12px;
    font-size: 20px;
    text-transform: uppercase;
    background-color: @bg-green;
  }

  .form__legend-small {
    display: block;
    width: 180px;
    height: 30px;
    padding: 30px 139px 18px 10px;
    font-family: @secondfont;
    font-size: 16px;
    text-transform: none;
  }
}

@media (min-width: @desktop-width) {
  .main-form {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: @bg-white;
  }

  .form {
    width: 1220px;
    padding: 0 40px;
    margin: 0 auto;
  }

  .form__title {
    display: block;
    width: 440px;
    margin: 0;
    padding: 62px 55px 57px 0;
    font-size: 60px;
    line-height: 60px;
    text-transform: none;
  }

  .form__text {
    display: block;
    width: 324px;
    padding: 0 55px 67px 0;
    margin: 0;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
  }

  .form__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1220px;
    padding: 0;
    margin: 0;
  }

  .form__wrapper {
    &--data,
    &--diet {
      display: block;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 570px;
      padding-bottom: 57px;
    }

    &--contacts {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 1220px;
    }

    &--about-me {
      display: block;
      width: 1220px;
    }

    &--extra {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 1220px;
      padding-bottom: 49px;
    }
  }

  .form__fieldset {
    &--data,
    &--diet,
    &--contacts,
    &--about-me,
    &--extra {
      display: flex;
      padding: 0;
      margin: 0;
      border: none;
    }

    &--data {
      width: 570px;
    }

    &--diet {
      width: 570px;
      border: 1px solid @border-lightgray;
    }

    &--contacts {
      width: 1220px;
    }

    &--about-me {
      width: 1220px;
      padding-bottom: 74px;
    }

    &--extra {
      display: block;
      width: 1220px;
    }
  }

  .form__legend {
    &--contacts,
    &--about-me,
    &--extra {
      display: block;
      width: 560px;
      margin: 0;
      font-size: 36px;
      line-height: 24px;
      text-transform: none;
    }

    &--contacts {
      padding: 0;
      padding-bottom: 81px;
    }

    &--about-me {
      padding: 2px 0 82px 0;
    }

    &--extra {
      padding: 0;
      padding-bottom: 69px;
    }
  }

  .form__item {
    &--name,
    &--weight,
    &--years {
      display: flex;
      width: 570px;
      height: 53px;
      padding-bottom: 19px;
    }

    &--slim,
    &--pro,
    &--advice {
      display: flex;
      width: 500px;
      height: 40px;
    }

    &--sweetener,
    &--water,
    &--milk,
    &--vitamins {
      display: flex;
      width: 245px;
      height: 33px;
      padding: 0;
      padding-bottom: 12px;
    }

    &--sweetener {
      padding-left: 0;
    }

    &--water {
      padding-left: 44px;
    }

    &--milk {
      padding-right: 45px;
      padding-left: 44px;
    }

    &--vitamins {
      padding-right: 0;
    }

    &--email-user,
    &--phone-user {
      display: flex;
      width: 570px;
      height: 50px;
    }
  }

  .form__label {
    &--name,
    &--weight,
    &--years {
      display: block;
      height: 36px;
      padding: 17px 0 0 2px;
      font-size: 20px;
      line-height: 18px;
      text-transform: uppercase;
    }

    &--name {
      width: 62px;
    }

    &--weight {
      width: 94px;
    }

    &--years {
      width: 133px;
    }

    &--slim,
    &--pro,
    &--advice {
      display: block;
      width: 270px;
      height: 25px;
      padding: 19px 0 0 15px;
      margin: 0;
      font-size: 20px;
      text-transform: uppercase;
    }

    &--email-user,
    &--phone-user {
      display: block;
      font-size: 20px;
      line-height: 18px;
      text-transform: uppercase;
    }

    &--email-user {
      width: 84px;
      padding: 16px 0 0 2px;
    }

    &--phone-user {
      width: 99px;
      padding: 17px 0 0 0;
    }

    &--sweetener,
    &--water,
    &--milk,
    &--vitamins {
      display: block;
      width: 155px;
      height: 24px;
      padding: 3px 0 0 10px;
      font-size: 20px;
      line-height: 18px;
      text-transform: uppercase;
    }
  }

  .form__input {
    &--text1,
    &--text2,
    &--text3 {
      display: block;
      padding-left: 19px;
      font-size: 20px;
      text-transform: uppercase;
      border: 1px solid @border-lightgray;
    }

    &--text1 {
      width: 486px;
    }

    &--text2 {
      width: 454px;
    }

    &--text3 {
      width: 414px;
    }

    &--radio1,
    &--radio2,
    &--radio3 {
      display: block;
      width: 48px;
      height: 38px;
      margin-top: 10px;
      margin-left: 11px;
    }

    &--text4,
    &--text5 {
      display: block;
      height: 50px;
      font-size: 20px;
      text-transform: uppercase;
      border: 1px solid @border-lightgray;
    }

    &--text4 {
      width: 465px;
      padding: 0 0 0 17px;
    }

    &--text5 {
      width: 452px;
      padding: 0 0 0 18px;
    }

    &--textarea {
      display: block;
      width: 1200px;
      height: 158px;
      padding: 13px 0 0 19px;
      margin: 0;
      font-size: 20px;
      text-transform: uppercase;
      border: 1px solid @border-lightgray;
    }

    &--checkbox1,
    &--checkbox2,
    &--checkbox3,
    &--checkbox4 {
      display: block;
      width: 54px;
      height: 40px;
      margin: -6px 0 0 -5px;
    }
  }

  .form__icon {
    &--email-user,
    &--phone-user {
      display: block;
      height: 42px;
      margin-top: 5px;
      margin-left: -39px;
      background-color: @bg-white;
      border: none;
    }

    &--phone-user {
      margin-left: -53px;
    }

    &--email-user::before {
      position: absolute;
      content: " ";
      width: 18px;
      margin-left: -4px;
      margin-top: -7px;
      height: 20px;
      background-image: url("../img/icon-mail.svg");
      background-repeat: no-repeat;
    }

    &--phone-user::before {
      position: absolute;
      content: " ";
      width: 20px;
      margin-left: 8px;
      margin-top: -9px;
      height: 25px;
      background-image: url("../img/icon-phone.svg");
      background-repeat: no-repeat;
    }
  }

  .form__send {
    display: flex;
    width: 1220px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 85px;
  }

  .form__button {
    display: block;
    width: 568px;
    height: 50px;
    padding: 3px 24px 0 25px;
    margin: 0;
    margin-left: 3px;
    font-size: 20px;
    text-transform: uppercase;
    color: @color-white;
    background-color: @bg-green;
  }

  .form__legend-small {
    display: block;
    width: 180px;
    height: 30px;
    padding: 0;
    padding-right: 384px;
    padding-top: 16px;
    margin: 0;
    font-family: @secondfont;
    font-size: 16px;
    text-transform: none;
  }
}
