// Style.less для блока main-nav
//-------------------------------

.main-nav {
  display: block;

  width: 100%;
  min-height: 199px;
}

.main-nav__list {
  display: block;
  margin: 0 auto;
}

.site-list {
  display: block;
  list-style: none;
  text-align: center;
}

.site-list__item {
  display: block;

  padding-top: 25px;
  padding-bottom: 25px;
}
