// Style.less для блока main-form
//-------------------------------

.main-form {
  display: block;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .main-form {
    display: block;
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .main-form {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: @bg-white;
  }
}
