// Style.less для блока page-main-catalog
//---------------------------------------

.main-catalog {
  width: 320px;
  min-height: 2750px;
  background-color: @bg-white;
}

.main-catalog__title {
  display: block;
  padding: 18px 10px 30px 20px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: @basefont;
  font-size: 36px;
  font-weight: @basefontweight;
  line-height: 60px;
  text-transform: none;
}

.basic-list {
  display: block;
  width: 280px;
  margin: 0 20px;
  padding: 0;
  list-style: none;
}

.basic-list__item {
  display: flex;
  flex-wrap: wrap;
  height: 205px;
  padding-bottom: 4px;
}

.basic-list__image {
  display: block;
  height: 145px;
}

.basic-list__description {
  display: flex;
  flex-wrap: wrap;
  width: 140px;
  height: 145px;
}

.basic-list__title {
  display: block;
  width: 100px;
  height: 75px;
  padding: 6px 0 0 0;
  font-size: 14px;
  text-transform: uppercase;
}

.basic-list__product-description {
  display: block;
  width: 140px;
  height: 60px;
}

.basic-list__order {
  display: block;
  width: 170px;
  height: 30px;
  padding: 0 0 0 112px;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  background-color: green;
}

.basic-list__item-download {
  display: block;
  height: 208px;
}

.basic-list__download-list {
  display: block;
  width: 206px;
  height: 24px;
  padding: 80px 5px 3px 39px;
  margin: 0;
  font-family: @basefont;
  font-size: 16px;
  text-transform: uppercase;
}

.basic-list__download-list::before {
  position: absolute;
  content: " ";
  width: 65px;
  height: 30px;
  margin-top: -54px;
  margin-left: 86px;
  background-image: url("../img/icon-plus-mobile.svg");
  background-repeat: no-repeat;
}

.basic-list__download {
  display: block;
  width: 225px;
  height: 20px;
  padding: 0 10px 0 30px;
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  font-family: @secondfont;
  text-transform: none;
}

.basic-list__to-all {
  display: block;
  width: 91px;
  height: 30px;
  padding-top: 11px;
  padding-left: 97px;
  padding-right: 92px;
  margin: 17px 0 0 0;
  font-size: 16px;
  color: #444444;
  background-color: @bg-lightergray;
  text-transform: uppercase;
}

.other-list {
  display: block;
  width: 280px;
  height: 517px;
  margin: 0 20px;
  padding: 0;
  list-style: none;
}

.other-list__item {
  display: flex;
  flex-wrap: wrap;
  height: 130px;
}

.catalog-list__title {
  display: block;
  width: 270px;
  height: 40px;
  padding: 32px 10px 14px 19px;
  margin: 0;
  font-size: 24px;
}

.other-list__title {
  display: block;
  width: 273px;
  height: 15px;
  padding: 14px 5px 0 0;
  margin: 0;
  font-size: @basefontsize;
  line-height: 16px;
  color: @col-lightblack;
  text-transform: uppercase;
}

.other-list__description {
  display: flex;
}

.other-list__title h3 {
  margin: 0;
}

.other-list__number {
  display: block;
  width: 130px;
  height: 20px;
  padding: 0 5px 0 0;
  font-family: @secondfont;
}

.other-list__price {
  display: block;
  width: 57px;
  height: 20px;
  font-family: @secondfont;
}

.other-list__order {
  display: block;
  width: 63px;
  height: 30px;
  padding-top: 9px;
  padding-left: 108px;
  padding-right: 108px;
  font-size: 16px;
  color: @col-white;
  background-color: green;
  text-transform: uppercase;
}

.extra-present {
  display: block;
  height: 323px;
  padding: 41px 0 0 20px;
}

.extra-present::before {
  position: absolute;
  content: " ";
  width: 60px;
  height: 60px;
  margin-left: 113px;
  margin-top: 64px;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
}

.extra-present__image {
  display: block;
  width: 279px;
  height: 290px;
}

.description-extra {
  display: block;
  width: 152px;
  margin-top: -136px;
  margin-left: 84px;
  font-family: @secondfont;
  font-size: 16px;
  color: @col-white;
  text-align: center;
}

.description-case,
.description-present {
  display: block;
  width: 162px;
  margin-top: 2px;
  margin-left: -6px;
}

.contacts-catalog {
  display: block;
  margin-top: 78px;
}

@media (min-width: @tablet-width) {
  .main-catalog {
    width: 100%;
    background-color: @bg-white;
  }

  .main-catalog__title {
    display: block;
    padding: 55px 10px 0 30px;
    font-family: @basefont;
    font-size: 60px;
    font-weight: @basefontweight;
    line-height: 60px;
    text-transform: none;
  }

  .basic-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 708px;
    height: 2320px;
    margin: 0 30px;
    padding-top: 50px;
    list-style: none;
  }

  .basic-list__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 325px;
    height: 516px;
    background-color: @bg-lightergray;
  }

  .basic-list__img-small {
    display: block;
    width: 320px;
    height: 170px;
    padding: 70px 0 0 0;
  }

  .basic-list__img-big {
    display: block;
    width: 320px;
    height: 206px;
    padding: 34px 0 0 0;
  }

  .basic-list__description {
    display: flex;
    flex-wrap: wrap;
    width: 323px;
    height: 228px;
    margin: 0;
    padding: 3px 0 0 0;
  }

  .basic-list__item-download {
    display: block;
    width: 324px;
    height: 412px;
    border: 1px solid #e6e6e6;
  }

  .basic-list__title {
    display: block;
    width: 155px;
    height: 75px;
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
  }

  .basic-list__title h3 {
    display: block;
    margin: 0;
  }

  .basic-list__title:nth-child(1),
  .basic-list__title:nth-child(2) {
    padding: 78px 5px 5px 99px;
  }

  .basic-list__weight {
    display: block;
    margin-left: 40px;
  }

  .basic-list__product-description {
    display: block;
    width: 323px;
    height: 119px;
    margin-left: 0;
    margin-top: 0;
  }

  .basic-list__order {
    display: block;
    width: 60px;
    height: 30px;
    padding-top: 10px;
    padding-left: 95px;
    padding-right: 95px;
    margin-left: 38px;
    font-size: 16px;
    text-transform: uppercase;
    color: @col-white;
    background-color: green;
  }

  .basic-list__download-list {
    display: block;
    width: 135px;
    height: 24px;
    padding: 147px 5px 5px 105px;
    font-family: @basefont;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .basic-list__download-list::before {
    position: absolute;
    content: " ";
    width: 95px;
    height: 62px;
    margin-top: -111px;
    margin-left: 27px;
    background-image: url("../img/icon-plus.svg");
    background-repeat: no-repeat;
  }

  .basic-list__download-number {
    display: block;
    margin-left: -9px;
    margin-top: 2px;
  }

  .basic-list__download {
    display: block;
    width: 215px;
    height: 20px;
    padding: 36px 0 0 78px;
    font-size: 16px;
    line-height: 16px;
    font-family: @secondfont;
    text-transform: none;
  }

  .basic-list__download-item {
    display: block;
    padding: 3px 0 0 22px;
  }

  .basic-list__to-all {
    display: block;
    width: 168px;
    height: 30px;
    padding: 11px 0 0 81px;
    margin: 102px 0 0 37px;
    font-size: 16px;
    color: #444444;
    background-color: @bg-lightergray;
    text-transform: uppercase;
  }

  .catalog-list__title {
    display: block;
    width: 360px;
    height: 40px;
    padding: 15px 15px 12px 66px;
    font-size: 36px;
  }

  .other-list {
    display: block;
    width: 708px;
    height: 557px;
    margin: 0 30px;
    padding: 0;
    list-style: none;
  }

  .other-list__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 138px;
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
  }

  .other-list__item:nth-child(1) {
    margin: 55px 0 0 0;
  }

  .other-list__item:nth-child(4) {
    border-bottom: 1px solid #e6e6e6;
  }

  .other-list__title {
    display: block;
    width: 273px;
    height: 40px;
    padding: 27px 0 0 37px;
    font-size: 17px;
    line-height: 14px;
    color: @col-lightblack;
    text-transform: uppercase;
  }

  .other-list__description {
    display: flex;
    padding: 30px 24px 0 0;
  }

  .other-list__number {
    display: block;
    width: 135px;
    height: 20px;
    padding-right: 48px;
    font-size: 16px;
    font-family: @secondfont;
    background-color: #00a8e6; // временно для решения проблемы
  }

  .other-list__price {
    display: block;
    width: 57px;
    height: 20px;
    font-size: 16px;
    font-family: @secondfont;
    background-color: #00a8e6; // временно для решения проблемы
  }

  .other-list__order {
    display: block;
    width: 348px;
    height: 26px;
    padding: 14px 0 5px 285px;
    margin-left: 35px;
    font-size: 16px;
    color: @col-white;
    background-color: @bg-green;
    text-transform: uppercase;
  }

  .extra-present {
    display: block;
    height: 211px;
    padding: 70px 0 0 27px;
    margin: 0;
  }

  .extra-present::before {
    position: absolute;
    content: " ";
    width: 60px;
    height: 60px;
    margin-left: 91px;
    margin-top: 64px;
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
  }

  .extra-present__image {
    display: block;
    width: 708px;
    height: 198px;
  }

  .description-extra {
    position: absolute;
    right: 189px;
    display: block;
    width: 152px;
    padding-bottom: 68px;
    margin-top: -139px;
    font-family: @secondfont;
    font-size: 16px;
    color: @col-white;
    text-align: center;
  }

  .description-case,
  .description-present {
    display: block;
    width: 162px;
  }

  .description-case {
    padding: 0 0 0 30px;
  }

  .description-present {
    padding: 0 0 0 7px;
  }
}

@media (min-width: @desktop-width) {
  .main-catalog {
    width: 100%;
    background-color: @bg-white;
  }

  .main-catalog__title {
    display: block;
    padding: 66px 0 57px 111px;
    font-family: @basefont;
    font-size: 60px;
    font-weight: @basefontweight;
    line-height: 60px;
    text-transform: none;
  }

  .basic-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1220px;
    height: 1195px;
    padding: 0;
    margin: 0 110px;
    list-style: none;
  }

  .basic-list__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 245px;
    height: 516px;
    background-color: @bg-lightergray;
  }

  .basic-list__item:nth-child(1),
  .basic-list__item:nth-child(2),
  .basic-list__item:nth-child(3),
  .basic-list__item:nth-child(4) {
    margin-bottom: 145px;
  }

  .basic-list__img-small {
    display: block;
    width: 320px;
    height: 170px;
  }

  .basic-list__img-big {
    display: block;
    width: 320px;
    height: 206px;
  }

  .basic-list__description {
    display: flex;
    flex-wrap: wrap;
    width: 323px;
    height: 228px;
    margin: 0;
  }

  .basic-list__item-download {
    display: block;
    width: 245px;
    height: 516px;
    border: 1px solid #e6e6e6;
  }

  .basic-list__title {
    display: block;
    width: 155px;
    height: 75px;
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
  }

  .basic-list__title:nth-child(1),
  .basic-list__title:nth-child(2) {
    padding: 78px 5px 5px 99px;
  }

  .basic-list__weight {
    display: block;
    margin-left: 40px;
  }

  .basic-list__product-description {
    display: block;
    width: 323px;
    height: 119px;
    margin-left: 0;
    margin-top: 0;
  }

  .basic-list__order {
    display: block;
    width: 60px;
    height: 30px;
    padding-top: 10px;
    padding-left: 95px;
    padding-right: 95px;
    margin-left: 38px;
    font-size: 16px;
    text-transform: uppercase;
    color: @col-white;
    background-color: green;
  }

  .basic-list__download-list {
    display: block;
    width: 135px;
    height: 24px;
    padding: 147px 5px 5px 105px;
    font-family: @basefont;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .basic-list__download-list::before {
    position: absolute;
    content: " ";
    width: 95px;
    height: 62px;
    margin-top: -111px;
    margin-left: 27px;
    background-image: url("../img/icon-plus.svg");
    background-repeat: no-repeat;
  }

  .basic-list__download-number {
    display: block;
    margin-left: -9px;
    margin-top: 2px;
  }

  .basic-list__download {
    display: block;
    width: 215px;
    height: 20px;
    padding: 36px 0 0 78px;
    font-size: 16px;
    line-height: 16px;
    font-family: @secondfont;
    text-transform: none;
  }

  .basic-list__download-item {
    display: block;
    padding: 3px 0 0 22px;
  }

  .basic-list__to-all {
    display: block;
    width: 168px;
    height: 30px;
    padding: 11px 0 0 81px;
    margin: 102px 0 0 37px;
    font-size: 16px;
    color: #444444;
    background-color: @bg-lightergray;
    text-transform: uppercase;
  }

  .additional-goods {
    display: flex;
    flex-wrap: wrap;
    height: 405px;
  }

  .catalog-list__title {
    display: block;
    width: 360px;
    height: 40px;
    padding: 0 15px 12px 111px;
    font-size: 36px;
  }

  .other-list {
    display: block;
    width: 895px;
    height: 557px;
    margin-left: 110px;
    margin-right: 80px;
    padding: 0;
    list-style: none;
  }

  .other-list__item {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 0 0;
    justify-content: space-between;
    height: 75px;
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
  }

  .other-list__item:nth-child(1) {
    margin: 55px 0 0 0;
  }

  .other-list__item:nth-child(4) {
    border-bottom: 1px solid #e6e6e6;
  }

  .other-list__title {
    display: block;
    width: 273px;
    height: 40px;
    font-size: 17px;
    line-height: 14px;
    color: @col-lightblack;
    text-transform: uppercase;
  }

  .other-list__description {
    display: flex;
  }

  .other-list__number {
    display: block;
    width: 135px;
    height: 20px;
    font-size: 16px;
    font-family: @secondfont;
    background-color: #00a8e6; // временно для решения проблемы
  }

  .other-list__price {
    display: block;
    width: 57px;
    height: 20px;
    font-size: 16px;
    font-family: @secondfont;
    background-color: #00a8e6; // временно для решения проблемы
  }

  .other-list__order {
    display: block;
    width: 200px;
    height: 26px;
    padding: 14px 0 5px 43px;
    font-size: 16px;
    color: @col-white;
    background-color: @bg-green;
    text-transform: uppercase;
  }

  .extra-present {
    display: block;
    height: 211px;
    margin-top: 57px;
    padding: 0;
  }

  .extra-present::before {
    position: absolute;
    content: " ";
    width: 60px;
    height: 60px;
    margin: 64px 0 0 98px;
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
  }

  .extra-present__image {
    display: block;
    width: 245px;
    height: 287px;
  }

  .description-extra {
    display: block;
    width: 152px;
    padding-top: 435px;
    margin-right: -35px;
    font-family: @secondfont;
    font-size: 16px;
    color: @col-white;
    text-align: center;
  }

  .description-case,
  .description-present {
    display: block;
    width: 162px;
  }

  .description-case {
    padding: 0;
  }

  .description-present {
    padding: 0;
  }
}
