// Style.less для блока main-catalog
//----------------------------------

.main-catalog {
  width: 100%;
  background-color: @bg-white;
}

.main-catalog__title {
  display: block;
  padding: 15px 10px 28px 20px;
  margin: 0 -20px;
  font-family: @basefont;
  font-size: 36px;
  font-weight: @basefontweight;
  line-height: 60px;
  text-transform: none;
  background-color: @bg-white;
  border-bottom: 1px solid @border-lightergray;
}

.main-catalog__wrapper {
  display: block;
  width: 280px;
  padding: 0 20px;
  margin: 0;
}

.main-catalog__caption {
  display: block;
  width: 240px;
  padding: 31px 23px 37px 0;
  margin: 0;
  font-size: 24px;
  font-weight: @basefontweight;

  &::before {
    content: " ";
    position: absolute;
    width: calc((100vw - 280px) / 2 - 172px);
    top: 1877px;
    right: 0;
    margin-right: 205px;
    height: 3px;
    background-color: @bg-green;
  }
}

.main-catalog__description {
  position: relative;
  top: -74px;
  display: block;
  width: 175px;
  padding-left: 53px;
  padding-right: 53px;
  margin: 0;
  font-family: @secondfont;
  font-size: 16px;
  line-height: 20px;
  color: @color-white;
  text-align: center;
  z-index: 0;

  &::before {
    position: relative;
    top: 113px;
    left: -51px;
    content: " ";
    display: block;
    width: 279px;
    height: 290px;
    padding: 0;
    padding-bottom: 10px;
    margin: 0;
    background-image: url("../img/gift-photo-mobile@1x.jpg");
    background-repeat: no-repeat;
    z-index: -1;
  }

  &::after {
    position: absolute;
    top: 178px;
    left: 113px;
    content: " ";
    display: block;
    width: 60px;
    height: 60px;
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: @tablet-width) {
  .main-catalog {
    width: 100%;
    background-color: @bg-white;
  }

  .main-catalog__wrapper {
    width: 708px;
    padding: 0 30px;
    margin: 0;
  }

  .main-catalog__title {
    display: block;
    padding: 56px 10px 163px 20px;
    font-family: @basefont;
    font-size: 60px;
    font-weight: @basefontweight;
    line-height: 60px;
    text-transform: none;
    border: none;
  }

  .main-catalog__caption {
    display: block;
    width: 345px;
    padding: 0 132px 88px 37px;
    margin: 0;
    margin-top: -63px;
    font-size: 36px;
    border: none;

    &::before {
      content: " ";
      position: absolute;
      width: calc((100vw - 280px) / 2 + 78px);
      top: 2595px;
      right: 0;
      margin-right: 5px;
      height: 3px;
      background-color: @bg-green;
    }

    &::after {
      content: "";
      position: absolute;
      width: calc((100vw - 280px) / 2 - 221px);
      top: 2595px;
      left: 0;
      margin-left: 5px;
      height: 3px;
      background-color: @bg-green;
    }
  }

  .main-catalog__description {
    position: relative;
    top: -145px;
    display: block;
    width: 170px;
    padding-left: 424px;
    padding-right: 114px;
    margin: 0;
    font-family: @secondfont;
    font-size: 16px;
    color: @color-white;
    text-align: left;

    &::before {
      position: relative;
      top: 182px;
      left: -424px;
      display: block;
      width: 708px;
      height: 255px;
      padding: 0;
      margin: 0;
      background-image: url("../img/gift-photo-tablet@1x.jpg");
      background-repeat: no-repeat;
    }

    &::after {
      position: absolute;
      top: 248px;
      left: 91px;
      content: " ";
      width: 60px;
      height: 60px;
      background-image: url("../img/icon-gift.svg");
      background-repeat: no-repeat;
    }
  }
}

@media (min-width: @desktop-width) {
  .main-catalog {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: @bg-white;
  }

  .main-catalog__title {
    display: block;
    width: 450px;
    padding: 71px 30px 164px 20px;
    font-family: @basefont;
    font-size: 60px;
    font-weight: @basefontweight;
    line-height: 60px;
    text-transform: none;
  }

  .main-catalog__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1220px;
    padding: 0 40px;
    margin: 0 auto;
  }

  .main-catalog__caption {
    display: block;
    width: 345px;
    padding: 0 40px 90px 0;
    margin: 0;
    font-size: 36px;
    border: none;

    &::before {
      content: " ";
      position: absolute;
      width: calc((100vw - 280px) / 2 + 327px);
      top: 1514px;
      right: 0;
      margin-right: 50px;
      height: 3px;
      background-color: @bg-green;
    }

    &::after {
      content: "";
      position: absolute;
      width: calc((100vw - 280px) / 2 - 559px);
      top: 1514px;
      left: 0;
      margin-left: 50px;
      height: 3px;
      background-color: @bg-green;
    }
  }

  .main-catalog__description {
    position: relative;
    top: -128px;
    left: -37px;
    display: block;
    width: 170px;
    padding: 0;
    margin: 0;
    font-family: @secondfont;
    font-size: 16px;
    color: @color-white;
    text-align: center;

    &::before {
      position: relative;
      top: 128px;
      left: -38px;
      display: block;
      width: 245px;
      padding: 0;
      padding-bottom: 61px;
      background-image: url("../img/gift-photo-desktop@1x.jpg");
      background-repeat: no-repeat;
    }

    &::after {
      position: absolute;
      top: 193px;
      left: 58px;
      content: " ";
      width: 60px;
      height: 60px;
      background-image: url("../img/icon-gift.svg");
      background-repeat: no-repeat;
    }
  }
}
