// Style.less для блока page-footer
//--------------------------------

.page-footer {
  width: 100%;
  margin: 0;
  background-color: @bg-lightergray;
}

.page-footer__wrapper {
  display: block;
  width: 280px;
  margin: 0;
  padding: 0 20px;
}

.page-footer__header {
  display: block;
  width: 280px;
  border-bottom: 1px solid @border-gray;
}

.page-footer__logo-text {
  display: block;
  width: 128px;
  height: 24px;
  padding: 41px 77px 31px 76px;
  text-align: center;
}

.page-footer__logo-text:hover {
  fill: @logo-text-hover;
}

.page-footer__logo-text:active {
  fill: @logo-text-active;
}

.page-footer__social {
  display: block;
  border-bottom: 1px solid @border-gray;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 280px;
  margin: 0;
  padding: 0;
}

.social__item {
  display: block;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 22px 29px 10px 0;
}

.social__item:nth-child(1) {
  padding-left: 73px;
}

.social__item:nth-child(2) {
  padding-right: 23px;
}

.social__item:nth-child(3) {
  padding-right: 0;
}

.social__item-vkontakte,
.social__item-instagram,
.social__item-facebook {
  fill: @border-icon;
}

.social__item-vkontakte:hover,
.social__item-instagram:hover,
.social__item-facebook:hover {
  fill: @border-icon-hover;
}

.social__item-vkontakte:active,
.social__item-instagram:active,
.social__item-facebook:active {
  fill: @border-icon-active;
}

.page-footer__copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 280px;
  margin: 0;
  padding: 0;
}

.copyright__link {
  display: block;
  width: 120px;
  padding: 30px 5px 25px 0;
  font-family: @secondfont;
  font-size: 16px;
  line-height: 16px;
  color: @copyright__link;
  text-transform: none;
}

.copyright__link:hover {
  color: @copyright__link-hover;
}

.copyright__link:active {
  color: @copyright__link-active;
}

.copyright__logo {
  display: block;
  width: 30px;
  height: 40px;
  padding: 22px 0 15px 5px;
  font-family: @secondfont;
  font-size: 16px;
  line-height: 16px;
  text-transform: none;

  fill: @logo-academy;
}

.copyright__logo:hover {
  fill: @logo-academy-hover;
}

.copyright__logo:active {
  fill: @logo-academy-active;
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: 100%;
    margin: 0;
    background-color: @bg-lightergray;
  }

  .page-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 708px;
    padding: 0 30px;
  }

  .page-footer__header {
    display: block;
    width: 155px;
    border: none;
  }

  .page-footer__logo-text {
    display: block;
    padding: 64px 10px 5px 0;
  }

  .page-footer__logo-text:hover {
    fill: @logo-text-hover;
  }

  .page-footer__logo-text:active {
    fill: @logo-text-active;
  }

  .page-footer__social {
    display: block;
    width: 200px;
    border: none;
  }

  .social__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 200px;
    padding: 0;
    margin: 0;
  }

  .social__item {
    display: block;
    justify-content: center;
    width: 25px;
    height: 30px;
    padding: 65px 31px 52px 0;
  }

  .social__item:nth-child(1) {
    padding-left: 35px;
  }

  .social__item-vkontakte,
  .social__item-instagram,
  .social__item-facebook {
    fill: @border-icon;
  }

  .social__item-vkontakte:hover,
  .social__item-instagram:hover,
  .social__item-facebook:hover {
    fill: @border-icon-hover;
  }

  .social__item-vkontakte:active,
  .social__item-instagram:active,
  .social__item-facebook:active {
    fill: @border-icon-active;
  }

  .page-footer__copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 165px;
  }

  .copyright__link {
    display: block;
    width: 115px;
    height: 37px;
    padding: 66px 5px 44px 0;
    margin: 0;
    font-family: @secondfont;
    font-size: 16px;
    line-height: 16px;
    color: @color-darkgray;
    text-transform: none;
  }

  .copyright__link:hover {
    color: @copyright__link-hover;
  }

  .copyright__link:active {
    color: @copyright__link-active;
  }

  .copyright__logo {
    display: block;
    width: 30px;
    height: 40px;
    padding: 58px 0 49px 5px;
    font-family: @secondfont;
    font-size: 16px;
    line-height: 16px;
    text-transform: none;
  }

  .copyright__logo:hover {
    fill: @logo-academy-hover;
  }

  .copyright__logo:active {
    fill: @logo-academy-active;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: @bg-lightergray;
  }

  .page-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1220px;
    padding: 0 40px;
    margin: 0 auto;
  }

  .page-footer__header {
    display: block;
    width: 205px;
    border: none;
  }

  .page-footer__logo-text {
    display: block;
    padding: 66px 0 26px 1px;
  }

  .page-footer__logo-text:hover {
    fill: @logo-text-hover;
  }

  .page-footer__logo-text:active {
    fill: @logo-text-active;
  }

  .page-footer__social {
    display: block;
    width: 200px;
    border: none;
  }

  .social__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 200px;
    padding: 0;
    margin: 0;
  }

  .social__item {
    display: block;
    justify-content: center;
    width: 25px;
    height: 30px;
  }

  .social__item:nth-child(1) {
    padding-left: 35px;
  }

  .social__item-vkontakte {
    display: block;
    width: 25px;
    height: 25px;
  }

  .social__item-vkontakte,
  .social__item-instagram,
  .social__item-facebook {
    fill: @border-icon;
  }

  .social__item-vkontakte:hover,
  .social__item-instagram:hover,
  .social__item-facebook:hover {
    fill: @border-icon-hover;
  }

  .social__item-vkontakte:active,
  .social__item-instagram:active,
  .social__item-facebook:active {
    fill: @border-icon-active;
  }

  .page-footer__copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 165px;
  }

  .copyright__link {
    display: block;
    width: 115px;
    height: 37px;
    padding: 70px 5px 44px 0;
    margin: 0;
    font-family: @secondfont;
    font-size: 16px;
    line-height: 16px;
    color: @color-darkgray;
    text-transform: none;
  }

  .copyright__link:hover {
    color: @copyright__link-hover;
  }

  .copyright__link:active {
    color: @copyright__link-active;
  }

  .copyright__logo {
    display: block;
    width: 30px;
    height: 40px;
    padding: 61px 0 49px 5px;
    font-family: @secondfont;
    font-size: 16px;
    line-height: 16px;
    text-transform: none;
  }

  .copyright__logo:hover {
    fill: @logo-academy-hover;
  }

  .copyright__logo:active {
    fill: @logo-academy-active;
  }
}
