// Style.less для блока page-header
//--------------------------------------

.page-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: @bg-white;
}

.page-header__logo {
  display: block;
  width: 192px;
  height: 35px;
  margin: 12px auto 17px 19px;
}

@media (min-width: @tablet-width) {
  .page-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 85px;
    margin: 0 auto;
  }

  .page-header__logo {
    display: block;
    width: 195px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 125px; // временно для сетки
    margin: 0 auto;
  }

  .page-header__logo {
    display: block;
    width: 190px;
    height: 65px;
    margin-top: 50px;
    margin-left: 125px;
  }
}
