// Style.less для блока page-footer
//--------------------------------

.page-footer {
  width: 100%;
  margin: 0;
  background-color: @bg-lightergray;
}

.page-footer__wrapper {
  display: block;
  width: 280px;
  margin: 0;
  padding: 0 20px;
}

.page-footer__logo-text {
  display: block;
  width: 128px;
  height: 24px;
  padding: 40px 77px 30px 77px;
  border-bottom: 1px solid @border-gray;

  &:hover {
    color: @logo-text-hover;
  }

  &:active {
    color: @logo-text-active;
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: 100%;
    margin: 0;
    background-color: @bg-lightergray;
  }

  .page-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 708px;
    padding: 0 30px;
  }

  .page-footer__logo-text {
    display: block;
    padding: 64px 10px 5px 0;
    border: 0;

    &:hover {
      color: @logo-text-hover;
    }

    &:active {
      color: @logo-text-active;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: @bg-lightergray;
  }

  .page-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1220px;
    padding: 0 40px;
    margin: 0 auto;
  }

  .page-footer__logo-text {
    display: block;
    padding: 66px 0 26px 1px;

    &:hover {
      color: @logo-text-hover;
    }

    &:active {
      color: @logo-text-active;
    }
  }
}
