// Style.less для блока page-footer
//--------------------------------

.page-footer {
  width: 100%;
  margin: 0;
  background-color: @bg-lightergray;
}

.page-footer__wrapper {
  display: block;
  width: 280px;
  margin: 0;
  padding: 0 20px;
}

.page-footer__logo-text {
  display: block;
  width: 128px;
  height: 24px;
  padding: 40px 77px 30px 77px;
  border-bottom: 1px solid @border-gray;

  &:hover {
    color: @logo-text-hover;
  }

  &:active {
    color: @logo-text-active;
  }
}

.page-footer__copyright-link {
  display: block;
  width: 120px;
  padding: 30px 161px 0 0;
  font-family: @secondfont;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.25px;
  color: @copyright-link;
  text-transform: none;
  border-top: 1px solid @border-gray;

  &:hover {
    color: @copyright-link;

    & ~ .page-footer__copyright-logo {
      color: @logo-academy-hover;
    }
  }

  &:focus,
  &:active {
    opacity: 0.3;

    & ~ .page-footer__copyright-logo {
      color: @logo-academy-active;
    }
  }
}

.page-footer__copyright-logo {
  position: relative;
  top: -24px;
  padding-left: 254px;
  display: block;
  width: 30px;
  height: 40px;
  font-family: @secondfont;
  font-size: 16px;
  line-height: 16px;
  text-transform: none;
  cursor: pointer;
  color: @logo-academy;

  &:hover {
    color: @logo-academy-hover;

    & ~ .page-footer__copyright-link {
      color: @copyright-link;
    }
  }

  &:focus,
  &:active {
    color: @logo-academy-active;

    & ~ .page-footer__copyright-link {
      opacity: 0.3;
    }
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: 100%;
    margin: 0;
    background-color: @bg-lightergray;
  }

  .page-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 708px;
    padding: 0 30px;
  }

  .page-footer__logo-text {
    display: block;
    padding: 64px 10px 5px 0;
    border: 0;

    &:hover {
      color: @logo-text-hover;
    }

    &:active {
      color: @logo-text-active;
    }
  }

  .page-footer__copyright-link {
    position: relative;
    top: -2px;
    left: -47px;
    display: block;
    width: 115px;
    height: 37px;
    padding: 0;
    padding-top: 66px;
    margin: 0;
    font-family: @secondfont;
    font-size: 16px;
    line-height: 16px;
    color: @color-darkgray;
    text-transform: none;

    &:hover {
      color: @copyright-link;

      & ~ .page-footer__copyright-logo {
        color: @logo-academy-hover;
      }
    }

    &:focus,
    &:active {
      opacity: 0.3;

      & ~ .page-footer__copyright-logo {
        color: @logo-academy-active;
      }
    }
  }

  .page-footer__copyright-logo {
    position: relative;
    top: -81px;
    left: 131px;
    display: block;
    width: 30px;
    height: 40px;
    padding: 58px 0 49px 5px;
    font-family: @secondfont;
    font-size: 16px;
    line-height: 16px;
    text-transform: none;
    color: @logo-academy;

    &:hover {
      color: @logo-academy-hover;

      & ~ .page-footer__copyright-link {
        color: @copyright-link;
      }
    }

    &:focus,
    &:active {
      color: @logo-academy-active;

      & ~ .copyright__link {
        opacity: 0.3;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: @bg-lightergray;
  }

  .page-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1220px;
    padding: 0 40px;
    margin: 0 auto;
  }

  .page-footer__logo-text {
    display: block;
    padding: 66px 0 26px 1px;

    &:hover {
      color: @logo-text-hover;
    }

    &:active {
      color: @logo-text-active;
    }
  }

  .page-footer__copyright-link {
    position: relative;
    top: 1px;
    left: -42px;
    display: block;
    width: 115px;
    height: 37px;
    padding: 68px 5px 44px 2px;
    margin: 0;
    font-family: @secondfont;
    font-size: 16px;
    line-height: 16px;
    color: @color-darkgray;
    text-transform: none;

    &:hover {
      color: @copyright-link;

      & ~ .page-footer__copyright-logo {
        color: @logo-academy-hover;
      }
    }

    &:focus,
    &:active {
      opacity: 0.3;

      & ~ .page-footer__copyright-logo {
        color: @logo-academy-active;
      }
    }
  }

  .page-footer__copyright-logo {
    position: relative;
    top: -24px;
    left: 136px;
    display: block;
    width: 30px;
    height: 40px;
    padding: 0;
    margin: 0;
    font-family: @secondfont;
    font-size: 16px;
    line-height: 16px;
    text-transform: none;

    &:hover {
      color: @logo-academy-hover;

      & ~ .page-footer__copyright-link {
        color: @copyright-link;
      }
    }

    &:focus,
    &:active {
      color: @logo-academy-active;

      & ~ .page-footer__copyright-link {
        opacity: 0.3;
      }
    }
  }
}
