// Style.less для блока page-header
//--------------------------------------

.page-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 320px;
  height: 69px;

  background-color: @white;
}

.page-header__logo {
  display: block;

  width: 192px;
  margin: 15px auto 11px 22px;
}

.page-header__toogle {
  display: block;
  width: 45px;
  min-height: 40px;
  margin: 17px 20px 12px auto;
  background-color: white;
  border: none;
}

.page-header__toogle::before {
  position: absolute;
  content: " ";
  width: 24px;
  height: 18px;
  margin-top: -12px;
  margin-left: -10px;

  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
}
