// Style.less для блока page-header
//--------------------------------------

 .page-header {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
 }

.page-header__logo {
  display: block;

  width: 192px;
  min-height: 38px;
  margin: 14px auto 16px 22px;
}

.page-header__toogle {
  display: block;

  width: 25px;
  min-height: 18px;
  margin: 23px 20px 23px auto;
}
