// Style.less для блока promo
//--------------------------------

.promo {
  display: block;
  width: 100%;
  background-color: @bg-white;
}

.promo::before {
  display: block;
  position: absolute;
  content: " ";
  width: 320px;
  height: 305px;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: @bg-green;
}

@media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
  .promo::before {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.promo__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 320px;
}

.promo__title {
  display: block;
  position: relative;
  padding: 27px 0 14px 1px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: @basefontweight;
  text-align: center;
  color: @color-white;
}

.promo__slogan {
  position: relative;
  top: 11px;
  display: block;
  width: 280px;
  padding: 0 57px 39px 55px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: @basefontsize;
  line-height: 14px;
  font-weight: @basefontweight;
  text-align: center;
  text-transform: uppercase;
  color: @color-white;
}

.promo__picture {
  display: block;
  position: relative;
  width: 280px;
  height: 271px;
  padding-top: 0;
  padding-left: 20px;
  padding-bottom: 3px;
}

.promo__link {
  display: block;
  width: 265px;
  padding: 11px 6px;
  margin-left: 21px;
  margin-bottom: 23px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: @color-white;
  background-color: @bg-green;
  cursor: pointer;

  &:hover {
    color: @color-btn-hover;
    background-color: @bg-btn-hover;
  }

  &:active {
    color: @color-btn-active;
    background-color: @bg-btn-active;
  }
}

@media (min-width: @tablet-width) {
  .promo {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
  }

  .promo::before {
    display: none;
  }

  .promo__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 708px;
    margin: 0;
    padding: 0 30px;
    background-color: @bg-white;
  }

  .promo__title {
    display: block;
    width: 455px;
    padding: 61px 202px 36px 52px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 60px;
    line-height: 50px;
    font-weight: @basefontweight;
    text-align: center;
    color: @color-black;
  }

  .promo__title-tablet {
    display: block;
    margin-top: 9px;
    margin-left: 30px;
  }

  .promo__slogan {
    display: block;
    width: 460px;
    padding: 0 11px 31px 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 20px;
    font-weight: @basefontweight;
    text-align: center;
    text-transform: uppercase;
    color: @color-black;
  }

  .promo__picture {
    position: relative;
    display: block;
    width: 709px;
    height: 609px;
    padding: 0;
    margin: 0;
    padding-bottom: 3px;
  }

  .promo__link {
    display: block;
    position: absolute;
    top: 282px;
    left: 119px;
    width: 200px;
    padding: 16px 22px 16px 21px;
    margin-left: 0;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 22px;
    font-weight: @basefontweight;
    text-align: center;
    text-transform: uppercase;
    color: @color-white;
    background-color: @bg-green;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding: 0;
  }

  .promo::before {
    display: block;
    position: absolute;
    content: " ";
    width: 50%;
    height: 698px;
    right: 0;
    margin-top: -118px;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
  }

  .promo__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1220px;
    padding: 0 40px 0 40px;
    margin: 0 auto;
    background-color: @bg-white;
  }

  .promo__title {
    display: block;
    width: 451px;
    height: 120px;
    padding: 111px 5px 5px 46px;
    font-size: 60px;
    line-height: 50px;
    font-weight: @basefontweight;
    text-align: center;
    color: @color-black;
  }

  .promo__title-tablet {
    display: block;
    padding: 10px 0 0 33px;
    margin-top: 0;
    margin-left: 0;
  }

  .promo__slogan {
    position: absolute;
    top: 264px;
    display: block;
    width: 444px;
    padding: 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: @basefontweight;
    text-align: center;
    text-transform: uppercase;
    color: @color-black;
  }

  .promo__picture {
    position: relative;
    top: 24px;
    left: -61px;
    display: block;
    width: 709px;
    height: 604px;
    margin: 0;
    padding: 0;
  }

  .promo__link {
    position: relative;
    top: -269px;
    left: 78px;
    display: block;
    width: 210px;
    padding: 19px;
    font-size: 20px;
    line-height: 22px;
    font-weight: @basefontweight;
    text-align: center;
    text-transform: uppercase;
    color: @color-white;
    background-color: @bg-green;
  }
}
