// Style.less для блока promo
//--------------------------------

.promo {
  display: block;
  width: 100%;
  background-color: @bg-white;
}

.promo::before {
  display: block;
  position: absolute;
  content: " ";
  width: 320px;
  height: 303px;
  background-image: url("../img/../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: @bg-green;
}

.promo__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 320px;
}

.promo__title {
  display: block;
  position: relative;
  padding: 32px 0 0 1px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: @col-white;
}

.promo__slogan {
  display: block;
  position: relative;
  top: 11px;
  padding: 14px 0 0 61px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: @basefontsize;
  line-height: 14px;
  font-weight: @basefontweight;
  text-align: center;
  text-transform: uppercase;
  color: @col-white;
}

.promo__picture {
  display: block;
  position: relative;
  padding-top: 39px;
  padding-left: 20px;
}

.promo__link {
  display: block;
  width: 260px;
  padding: 11px 9px;
  margin-left: 21px;
  margin-bottom: 23px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: @col-white;
  background-color: @bg-green;
}

@media (min-width: @tablet-width) {
  .promo {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
  }

  .promo::before {
    display: none;
  }

  .promo__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: @bg-white;
  }

  .promo__title {
    display: block;
    width: 455px;
    padding: 61px 10px 10px 80px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 60px;
    line-height: 50px;
    font-weight: 700;
    text-align: center;
    color: @col-black;
  }

  .promo__title-tablet {
    display: block;
    margin-top: 9px;
    margin-left: 30px;
  }

  .promo__slogan {
    display: block;
    padding: 29px 5px 10px 117px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 13px;
    font-weight: @basefontweight;
    text-align: center;
    text-transform: uppercase;
    color: @col-black;
  }

  .promo__picture {
    display: block;
    padding-top: 24px;
    padding-left: 28px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
  }

  .promo__link {
    display: block;
    position: absolute;
    top: 283px;
    left: 118px;
    width: 241px;
    height: 38px;
    padding: 16px 1px 0 0;
    margin-left: 0;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 18px;
    font-weight: @basefontweight;
    text-align: center;
    text-transform: uppercase;
    color: @col-white;
    background-color: @bg-green;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    width: 100%;
    position: relative;
    height: 570px;
    margin: 0;
    padding: 0;
  }

  .promo::before {
    display: block;
    position: absolute;
    content: " ";
    width: 50%;
    height: 695px;
    right: 0;
    margin-top: -125px;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-color: @bg-green;
  }

  .promo__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1220px;
    height: 570px;
    margin: 0 auto;
    background-color: @bg-white;
  }

  .promo__title {
    display: block;
    width: 451px;
    height: 120px;
    padding: 103px 5px 5px 47px;
    font-size: 60px;
    line-height: 50px;
    font-weight: 700;
    text-align: center;
    color: @col-black;
  }

  .promo__title-tablet {
    display: block;
    padding: 10px 0 0 33px;
    margin-top: 0;
    margin-left: 0;
  }

  .promo__slogan {
    display: block;
    position: absolute;
    padding: 252px 0 0 82px;
    font-size: 20px;
    line-height: 13px;
    font-weight: @basefontweight;
    text-align: center;
    text-transform: uppercase;
    color: @col-black;
  }

  .promo__picture {
    display: block;
    padding: 0;
    margin: 0;
  }

  .promo__img {
    display: block;
    position: relative;
    right: 217px;
    padding-top: 17px;
  }

  .promo__link {
    display: block;
    width: 245px;
    height: 20px;
    padding: 15px 1px;
    margin-top: 48px;
    margin-left: 3px;
    font-size: 20px;
    line-height: 18px;
    font-weight: @basefontweight;
    text-align: center;
    text-transform: uppercase;
    color: @col-white;
    background-color: @bg-green;
  }
}
