// Типографика
// -----------


// Базовая типографика для Проекта Cat Energy
// ------------------------------------------

/* oswald-regular - latin */
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/oswaldregular.woff") format("woff"),
    url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff"),
    url("../fonts/oswaldmedium.woff2") format("woff2");
}

// От 320px мобильная версия

//body {
//min-width: 320px;
//margin: 0 auto;

//font-family: @baseFont;
//font-size: @baseFontSize;
//line-height: @baseLineHeight;

//text-transform: none;

//color: @black;
//background: blue;
//}

//.container {
//  width: 280px; // либо auto, если макет резиновый
//  padding: 0;// 20px; // не забываем про отступы контента от краёв
//  background-color: @white;
//}

// От 768px планшетная версия

//@media (min-width: 768px) {
//  .container {
//    width: 640px; // либо auto, если макет резиновый // padding: 0 64px; // не забываем про отступы контента от краёв
//  }
//}

//От 1200px десктопная версия

//@media (min-width: 1088px) {
//  .container {
//    width: 960px; // либо auto, если макет резиновый //  padding: 0 64px; // не забываем про отступы контента от краёв
//  }
//}

//.container-catalog {
//  width: 280px; // либо auto, если макет резиновый
//  padding: 0;// 20px; // не забываем про отступы контента от краёв
//}

// От 768px планшетная версия

//@media (min-width: 768px) {
//  .container-catalog {
//    width: 640px; // либо auto, если макет резиновый
//    padding: 0;// 64px; // не забываем про отступы контента от краёв
//  }
//}
// От 1200px десктопная версия

//@media (min-width: 1200px) {
//  .container-catalog {
//    width: 960px; // либо auto, если макет резиновый
//    padding: 0;// 120px; // не забываем про отступы контента от краёв
//  }
//}

//.container-form {
//  width: 280px; // либо auto, если макет резиновый
//  padding: 0;// 20px; // не забываем про отступы контента от краёв
//}

// От 768px планшетная версия

//@media (min-width: 768px) {
//  .container-form {
//    width: 640px; // либо auto, если макет резиновый
//    padding: 0;// 64px; // не забываем про отступы контента от краёв
//  }
//}
// От 1200px десктопная версия

//@media (min-width: 1200px) {
//  .container-form {
//    width: 960px; // либо auto, если макет резиновый
//    padding: 0;// 120px; // не забываем про отступы контента от краёв
//  }
//}

body {
  min-width: 320px;
  margin: 0 auto;

  font-family: @baseFont;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;

  text-transform: none;

  color: @black;
  background: blue;
  }

@media (min-width: @tablet-width) {
  body {
    width: 640px;
  }
}

@media (min-width: @desktop-width) {
  body {
    width: 960px;
  }
}

@media (min-width: @tablet-width) {
  
}
a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  padding: 0;
  margin: -1px;

  border: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
