// Переменные для Проекта Cat Energy
// ---------------------------------


// Шрифты
// ------

@basefont: "Oswald", "Arial", sans-serif;
@secondfont: "Arial", sans-serif;
@basefontsize: 14px;
@baselineheight: 18px;
@basefontweight: 400;

// Цвета
// -----

@col-black: #111111;
@col-lightblack: #222222;
@col-lighterblack: #444444;
@col-darkgray: #666666;
@col-white: #ffffff;
@col-darkergray: #3e4242;
@bg-gray: #cdcdcd;
@bg-lightgray: #d9d9d9;
@bg-lightergray: #f2f2f2;
@bg-white: #ffffff;
@bg-green: #68b738;

// Размеры для сетки
//-------------------

@tablet-width: 768px;
@desktop-width: 1440px;
